<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RapConf - {{pageName}}</title>
   
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet/less" type="text/css" href="/styles/table.less">
    <link rel="stylesheet/less" type="text/css" href="/styles/help.less">
	<link rel="stylesheet" href="/styles/jquery-ui.css">
	<link rel="stylesheet" href="/styles/spectrum.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico?v=2">
	

</head>
<body>

<div class="center">
    <div class="inline-block">
        <div class="header">
            {{> header }}
        </div>

        <div class="main">
           {{{body}}}
        </div>

        <div class="footer">
            {{> footer }}
        </div>
    </div>
</div>

</body>
</html>
