<h1>About RapConf</h1>
<p>RapConf is your number one resource for real-time on-the-fly virtual conferences. </p>
<p class="about">Key features include:
<ul class="about">
    <li>Rapidly create and join conferences</li>
    <li>Intiutive user interface</li>
    <li>Share files, texts, drawings and more</li>
    <li>All data is synchronized in real time</li>
</ul>
</p>

<p>Interested? <a href="/home"><b>Try it now!</b></a></p>