

<script data-main="/js/help" src="/js/lib/require.js"></script>
<div class="information">
    <h1>RapConf can help</h1>
    <p> 
        RapConf is your resource for on-the-fly conferences. Tell us about the challenges you face and let us offer some suggestions you may not have thought about.
        A RapConf Customer Solutions Specialist will address your query and respond promptly.
    </p>
    
    <p>
        <strong>Email Support: </strong>
    </p>

    <p>
        Please tell us how we can help, send your request for support to support@rapconf.com and be sure to include your
        complete company name and contact information. Email requests are typically answered within 24 hours.
    </p>

    <p> 
        <strong>Telephone Support:</strong>
    </p>

    <p>
        Please have all relevant information pertaining to your problem ready when calling. 
        All support services are available via telephone at:

        +49 800 727266376258
    </p>
</div>

<div class="accordion-container">
    <h1>Manual</h1>
    <div id="accordion" class="accordion">

        <h3>How to create a conference with your peers</h3>
        <div>
            <p>To start a new conference, head to the <a href="/home">homepage</a> and use the <i>New Table</i> prompt to create your virtual conference table.
            You can enter a custom name for your conference. If the name is omitted, a random name will be generated.</p>
            <p>Once your table is created, you can either share the table's URL (e.g. <a href="/table/Demo">rapconf.com/table/Demo</a>) with your peers or tell
            them the name so they can use the <i>Join Table</i> prompt to join your conference.</p>
        </div>

        <h3>How does the workspace and its widgets work</h3>
        <div>
            <p>From the table view, you can access your private workspace or the shared workspace of this conference.</p>
            <p>At the right edge of the workspace view,
            you will see a toolbar that lets you create new widgets by dragging and dropping the respective icon into the workspace. A widget is only visible in one workspace at a time.</p>
            <p>At the top left of the workspace view, you will find a link to go back to the table view.</p>
        </div>

        <h3>Possible interactions between the private and public workspace</h3>
        <div>
            <p>In the upper right corner of your private workspace, you will find a marked area that lets you move widgets to the shared workspace if you drop them onto this area.
            By clicking this area you open the respective workspace view.</p>
            <p>In the shared workspace you will find the same area at the top left of the screen.</p>
        </div>
        
        <h3>Everything is synchronized</h3>
        <div>
            <p>All data, including widget contents, positions and sizes are synchronized between all users in real time.</p>
        </div>
    </div>
</div>
