<script src="https://cdn.firebase.com/js/client/2.0.6/firebase.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script data-main="/js/home" src="/js/lib/require.js"></script>
<div id="app-display"></div>
